<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'adminDashboard/' %}css/style.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="{% static 'summernote-0.8.18-dist/summernote-bs4.css' %}">
    {% block style %}

    {% endblock %}
</head>
<body>
<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="custom-menu">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
            </button>
        </div>
        <div class="img bg-wrap text-center py-4"
             style="background-image: url(https://wallpaperaccess.com/full/124383.jpg);">
            <div class="user-logo">
                {#                <div class="img" style="background-image: url({% static 'adminDashboard/' %}images/logo.jpg);"></div>#}
                <div class="img"
                     style="background-image: url(https://images.unsplash.com/photo-1541963463532-d68292c34b19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80);"></div>
                <h3>Online Library</h3>
            </div>
        </div>
        <ul class="list-unstyled components mb-5">
            <li class="active">
                <a href="{% url 'dashboard' %}"><span class="fa fa-home mr-3"></span> Home</a>
            </li>
            <li>
                <a href="/ViewLibrary"><i class="fas fa-briefcase mr-3"></i>Manage Library</a>
            </li>
            <li>
                <a href="viewMembers?status=Pending"><i class="fas fa-newspaper mr-3"></i> Members</a>
            </li>
            <li>
                <a href="/changePassword"><i class="fas fa-key mr-3"></i> Change Password</a>
            </li>
            <li>
                <a href="{% url 'signout' %}"><i class="fas fa-sign-out-alt mr-3"></i> Sign Out</a>
            </li>
        </ul>

    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5">
        {% block content %}

        {% endblock %}
    </div>
</div>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'adminDashboard/' %}js/popper.js"></script>
<script src="{% static 'adminDashboard/' %}js/bootstrap.min.js"></script>
<script src="{% static 'adminDashboard/' %}js/main.js"></script>
<script src="{% static 'summernote-0.8.18-dist/summernote-bs4.js' %}"></script>
</body>
</html>
