
/*banner*/
.banner {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-40%, -40%);
    /*width: 80%;*/
}

.banner-heading {
    animation-name: anim;
    animation-duration: 2s;
}

.banner-par {
    animation-name: anim;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-fill-mode: backwards;
}

@keyframes anim {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/*end of banner*/

.center {
    margin: 0;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.center input {
    font-size: 20px;
    border-color: red;
    opacity: .8;
    width: 500px;

    height: 50px;
    border-radius: 25px 0px 0px 25px;
}

.center button {
    border-radius: 0px 25px 25px 0px;
}


/*comman title*/
.comman-title{
    display: inline-block;
    font-size: 3rem;
    font-weight: 500;
    text-shadow: 2px 2px 5px #aaa;
    transition: all .5s;
}
.comman-title:first-letter{
    color: red;
    font-family: 'Great Vibes', cursive;
    font-size: 6rem;
    font-style: normal;
    margin-right: 10px;
}
.comman-title:hover{
    transform: translate(-5px,-3px);
    text-shadow: 2px 5px 20px #aaa;
}


/*gallery*/
.gallery-img{
    backface-visibility: hidden;
    transition: all .5s;
}
.gallery-img:hover{
    transform: scale(1.05);
}
.first-row{
    transform: translateX(-300px);
    opacity: 0;
    transition: all 2.5s;
}
.second-row{
    transform: translateX(300px);
    opacity: 0;
    transition: all 2.5s;

}
.change .first-row, .change .second-row{
    transform: translateX(0);
    opacity: 1;
}
/*end of gallery*/



/*navbar*/
.nav-menu {
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .5));
    padding: 0 30px;
    transition: all .5s;
}

.menu-item {
    font-size: 13px;
    letter-spacing: 1px;
    color: #eee;
}
.nav-active{
    color: red;
}
.img-size1{
    width: 60px;
}
.menu-item:hover {
    /*color: #70aed2;*/
    color: red;
    transition: color .5s;
}

.line1, .line2, .line3 {
    width: 23px;
    height: 3px;
    margin: 5px;
}

.change .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.change .line2 {
    opacity: 0;
}

.change .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.custome-navebar {
    padding: 5px 30px;
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .7));
}
